{% block events %}


<div class="col-sm-12">
    <div class="statistics-details d-flex align-items-center justify-content-between">
        <div>
            <p class="statistics-title">Employee ID</p>
            <h3 class="rate-percentage">{{ employee.id }}</h3>
        </div>
        <div>
            <p class="statistics-title">Basic Salary</p>
            <h3 class="rate-percentage">{{ payroll.salary }}</h3>
        </div>
        <div class="d-none d-md-block">
            <p class="statistics-title">Gross Pay</p>
            <h3 class="rate-percentage">{{ payroll.grosspay }}</h3>
        </div>
        <div class="d-none d-md-block">
            <p class="statistics-title">Leave Status</p>
            <h3 class="rate-percentage">{{ leave_request.status }}</h3>
        </div>
    </div>
</div>
{% endblock %}